extends layout

block content
  section(class="hero is-info")
    div(class="hero-body")
      div(class="container")
        h1(class="title") Connectez vous
        h2(class="subtitle") Utilisez ce formulaire pour vous connecter

  div(class="container")

    div(class="card" style="margin: 100px auto;")
      div(class="card-content")
        div(class="field")
          label(class="label") Login
          div(class="control")
          input(id="login" class="input" type="text" placeholder="Login")
          span(class="icon is-small is-left")
            i(class="fas fa-user")
          span(class="icon is-small is-right")
            i(class="fas fa-check")

      
        div(class="field")
          label(class="label") Mot de passe
          div(class="control")
          input(id="mdp" class="input" type="text" placeholder="Mot de passe")
          span(class="icon is-small is-left")
            i(class="fas fa-user")
          span(class="icon is-small is-right")
            i(class="fas fa-check")

        div(class="field is-grouped")
          div(class="control")
            button(class="button is-link") Se connecter
block js
  script.
    $("button").click(function() {
        if (($("#login").val() !== "") && ($("#mdp").val() !== "")) {
            $.ajax({
                url: "users/login",
                method: "POST",
                data: {
                    login: $("#login").val(),
                    mdp: $("#mdp").val()
                },
                success: function(data, status, xhr) {
                    console.log(data);
                },
                error: function(xhr, status, err) {
                    console.log(err);
                }
            });
        }
    });