nav(class="navbar is-warning" role="navigation" aria-label="main navigation")
  a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navBurger")
    span(aria-hidden="true")
    span(aria-hidden="true")
    span(aria-hidden="true")

  div(id="navBurger" class="navbar-menu")
    div(class="navbar-start")
      a(class="navbar-item") Accueil

      div(class="navbar-item has-dropdown is-hoverable")
        a(class="navbar-link") Tâches
        div(class="navbar-dropdown")
          a(class="navbar-item") Bilan de santé
          a(class="navbar-item") Entretien des matériels
          a(class="navbar-item") Systèmes de survie
          a(class="navbar-item") Contrôle du camp